.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: blue;
}


.about_home_navbar {
    display: flex;
}

.about_home_color {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.about_home_color:hover {
    color: blue;
}

@media screen and (max-width: 998px) {
    .about_home_navbar {
        display: none;
    }
}

.about_header_height {
    padding: 0px;
    font-size: 13px;
    padding-left: 8px;
}

@media screen and (max-width: 330px) {
    .about_header_height {
        height: 40px;
        padding-bottom: 7px;
    }
}

.dropdown_animation {
    animation: growDown 300ms ease-in-out forwards;
}